.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/
IKS: https://chatgpt.com/share/6a0b36fc-b8b0-8322-aeba-a16d6692c2e9
unit 6: https://chatgpt.com/share/6a0b4849-ddb4-83e8-9226-d0436e45c9bc
https://chatgpt.com/share/6a0b36e9-942c-83a6-8dc9-4747acfedd8f
unit 5: https://chatgpt.com/share/6a0b4873-e420-83ec-bf4a-9cf404e053f5
